# Using ipython-sql with Vantage
First, we install required python libraries:

In [ ]:
import sys
!{sys.executable} -m pip install teradatasql ipython-sql teradatasqlalchemy

We load `sql` magic from `ipython-sql` library and connect to teradata. In this case, we are running the notebook in Docker. We also have a Vantage Express running in a VM on the same host machine.

In [ ]:
%load_ext sql
%sql teradatasql://dbc:dbc@host.docker.internal/dbc

This is how we can run an SQL query. Note how `%%sql` indicates that the call will contain SQL.

In [ ]:
%%sql
SELECT * from dbc.dbcinfo

It's also possible to assign the result of a query to a variable and then drop it to a Pandas dataframe.

In [ ]:
result = %sql SELECT * from dbc.dbcinfo
result.DataFrame()

Here is how you can plot using `matplotlib` directly on the result object:

In [ ]:
result = %sql SELECT count(*), UserName from dbc.EventLog GROUP BY UserName
%matplotlib inline
result.pie()

Results can be written to a csv file:

In [ ]:
result = %sql SELECT count(*), UserName from dbc.EventLog GROUP BY UserName
result.csv(filename='log-aggregates.csv')

If you happen to have a variable that you want to use in a query, then `sql` magic supports variable substitution:

In [ ]:
name='TDWM'

In [ ]:
%%sql
SELECT count(*) from dbc.Eventlog where UserName = '{name}'